# Copy file nay thanh application-dev.properties roi dien thong tin

spring.datasource.username=postgres
spring.datasource.password=YOUR_DB_PASSWORD

app.jwt.secret=defaultSecretKeyForDev0123456789012345678901234567890
